@import url(style_reset.css);



body {
    font-size: 15pt;
    font-family: sans-serif;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.wraper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.header, .footer{
  padding: 10px 40px;
  background-color: rgb(88, 129, 240);
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); */

  color: white;


  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer{
  height: 30px;
}

.main-content{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1 1 auto;

  text-align: center;
  /* max-width: 800px; */
  max-width: 800px;
  margin: 0 auto;

}

.app-describe {
  margin: 10px;
}

.cells-check, .charge-level {
  /* border: 2px solid black; */
  padding: 10px;
  margin: 5px;
  background: lightgray;
}

.cells-check__inputs {
  display: flex;
  margin: 10px;
  justify-content: space-around;
}

.charge-level__slidecontainer {
  margin: 10px;
}

.charge-level__slider {
  width: 300px;
  height: 15px;
  border-radius: 5px;  
  background: #7d7d7d;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.charge-level__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.charge-level__slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.charge-level__lable {
  margin: 5px;
}

.button {
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 10px;

  background-color: rgb(113, 222, 255);
}

.button:hover {
  transform: scale(1.05);
  transition: all 0.8s ease 0s;
}

.resalt {
  color: red;
  z-index: 5;
}

.battery {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.battery-body {
  height: 40px;
  width: 120px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(206, 206, 206);
  
  position: relative;
}

.battery-contakt {
  height: 20px;
  width: 5px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 0% 50% 50% 0%;

  background-color: darkgray;
}

.battery-level {
  height: 100%;
  width: 100%;
  
  /* background: green; */

  /* background: rgb(2,0,36); */
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(19, 156, 49) 50%); 
  
  position: absolute;
  /* z-index: -5; */
  top: 0px;
  left: 0px;
  
  transition-duration: 0.5s;
}

.battery-result {
  position: absolute;

  z-index: 2;
}

.footer {
  padding: 20px;
}